---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Picture } from "@astrojs/image/components";

---

<Layout title="Privacy">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Privacy</Fragment>
      <Fragment slot="desc">We are committed to maintaining the trust of visitors to this website. 
        We promise to handle and store your data fairly and legally at all times.
        You have the right to view, amend, or delete the personal information that we hold. 
        <br><br>If you have any questions about what data we collect or how we use it, please let us know by emailing: <a href="mailto:cayden@moxbros.com">cayden@moxbros.com</a>
      
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Personal information that we collect and why we collect it.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We do not collect personally identifiable information from you. 
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Information collected by others.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        When you load this website, our hosting provider may collect the following information in the form of server logs:
        <br><br>
        - Your IP address
        <br>
        - Date and time of the request for the page load
        <br>
        - Size of the data package being transmitted within the connection
        <br>
        - Type and version of your web browser
        <br>
        - Request information like HTTP method, host name, URI, referrer, etc
        <br>
        - This website does not use cookies. 
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
     
    </div>
  </Container>
</Layout>
