---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Freeze Dried Shell Shocks",
    description:
      "Shell Shocks are similar to skittles that have been freeze dried. They are our most popular product that we sell.",
    icon: "bx:bxs-shopping-bag", 
  },
  {
    title: "Freeze Dried Star Rocks",
    description:
      "Star Rocks are similar to starburst that have been freeze dried.",
    icon: "bx:bxs-shopping-bag",
  },
  {
    title: "Freeze Dried Air Taffy",
    description:
      "Airhead equivilent freeze dried.",
    icon: "bx:bxs-shopping-bag",
  },
  {
    title: "Freeze Dried Gummy Worms",
    description:
      "Freeze dried gummy worms melt in your mouth. They are also very brittle and fragile.",
    icon: "bx:bxs-shopping-bag",
  },
  {
    title: "Freeze Dried Hard Candy",
    description:
      "Our freeze dried hard candy is very uniqure because you can bite into it. Unlike normal hard candy.",
    icon: "bx:bxs-shopping-bag",
  },
  {
    title: "Caramel",
    description:
      "Feeze dried caramel is very unique.",
    icon: "bx:bxs-shopping-bag",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Our Products
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We love making our unique various different kinds of candies. Here are some examples of our products!
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
