---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Find Us On</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <a href="https://www.facebook.com/MoxBros-Candy-Co-109346575394409"> <Icon class="h-8 md:h-12" name="simple-icons:facebook"> </a>
    <a href="/contact"> <Icon class="h-8 md:h-16" name="simple-icons:nextdoor"> </a>
    <a href="/contact"> <Icon class="h-8 md:h-16" name="simple-icons:youtube"> </a>
    <a href="/contact"> <Icon class="h-8 md:h-12" name="simple-icons:google"> </a>
  </div>
</div>
